#header{padding:10px; margin: 20px 10px !important;}
#header{position:relative; margim: auto; height:70px; }
#subheader{float:right; position:relative; font-size:74px;}
#logo{float:left; height:100px; width:20%;}
#nav { margin: 20px auto }
#nav a { padding: 4px 6px; margin: 3px; border: 1px solid #ccc; text-align: center; text-decoration: none; background-color: #ddd }
#nav a.activeSlide { color: #c00 }
#nav a:focus { outline: none; }
.slideshow, .slideshow2{ margin: 20px auto; padding: 0; clear: left; }
.slide { margin: 0; padding: 0 }
.slideshow, .slide, .slideshow2 { height: 100%; width: 95%; align:center; margin:auto; }
.slideshow img { padding: 15px; border: 1px solid #ccc; background-color: #eee; margin: 0 }
h1 {text-align: center; font-size:46px}
p{font-size:35px;}
.grid col-950{width:600px;}
.col{
	position:relative;
	height:auto;
	background-color:white;
	height:800px;
	border-radius: 10px;
	box-shadow: 0 0 5px #fea400;
	border: 2px #fea400 solid;
	margin-top: 10px;
}
#left{
	float:left;
	width:69%;
}
#right{
	top:auto;
	float:right;
	width:30%
}
body{
background-image:url('http://wallfive.com/wp-content/uploads/2013/07/Earth-Space-Horizon.jpg');
font-family: Arial, Helvetica, sans-serif;
}
#container{background-color:white; opacity:0.8; width: 95%; border-radius:10px; margin: auto; box-shadow: 0 0 5px #fea400;
	border: 2px #fea400 solid;
}
#wrapper{width:100%; margin:auto;}

hr{color: #F5A421;
background-color: #F5A421;
height: 5px;
width:95%;
border radius:10px;}
.title{font-style:italic; text-align:center; font-size:30px;}
.subtitle{text-align:center; font-size:26px; color:blue;}